body{
    background-color: #43b0f1;
    margin:0px;
    padding:0px;
    font-family:'Courier New', monospace;
}
.Title{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1e3d58;
    font-weight:bolder; 
    font-size: 36px; 
}
#p1{
    margin-top: 0px;;
}
.choose{
    background-color: #057dcd;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 20px;
}
#im1,#im2,#im3{
    display: flex;
    padding: 5px;
    width: 300px;
    border-radius: 3em;
    background-color: azure;
}
#score{
    background-color: #057dcd;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}